body {
    background-color: azure;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

@media (max-width: 650px) {
    body{font-size: 1.5em}
}

.view {
    position: absolute;
    top 0;
    left 0;
    margin: 0;
    display: none;
}

.close {
    text-decoration: none;
}

#welcome {
/*    display: none;*/
}

#prep_page {
/*    display: inline;*/
}
